.label {
    font-family: Arial, Helvetica, sans-serif;
    color: #BEBEBE;
}

.sortSelect {
    padding: 0;
    margin-left: 10px;
    border-style: none;
}

.sortContainer {
    display: flex;
    align-items: center;
}
