input {
    margin-top: 10px;
    opacity: 90%;
    width: 400px;
    height: 20px;
    margin-left: 10px;
    border-radius: 3px;
    border-width: 0;
    background-color: #232323;
    color: #BEBEBE;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBtn {
    width: 90px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #F65261;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
